---
layout: splash
---

{{ content }}
{% assign sorted-cats = site.categories | sort %}


<ul class="taxonomy__index">

    {% for category in sorted-cats %}
		{% if category[0] contains 'MTD' %}

			<li>
			  <a href="#{{ category[0] | slugify }}">
				<strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ category[1].size }}</span>
			  </a>
			</li>

		{% endif %}  
    {% endfor %}

</ul>


  {% for category in sorted-cats %}
	{% if category[0] contains 'MTD' %}

		  <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
			<h2 class="archive__subtitle">{{ category[0] }}</h2>
			<div class="entries-{{ page.entries_layout | default: 'list' }}">
			  {% for post in category.last reversed %}
				{% include archive-single.html type=page.entries_layout %}
			  {% endfor %}
			</div>
			<a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
		  </section>

	{% endif %}
  {% endfor %}

